*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* shared style */

.font-inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
header{
    background-color: #FFFFFF;
    padding-top: 18px;
}

nav{
    width: 67%;
    max-width: 1067px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 30%;
    margin-top: 16px;
}

    
    

nav .menu{
    width: 40%;
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    text-align: center;
}

nav ul li a{
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    gap: 20px;
    cursor: pointer;
}

nav .nav-btn .btn{
   margin-top: 15px;
   margin-right: 10px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

nav .nav-btn .btn:hover{
    background-color: #36774a;
}

#banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 674px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* padding-top: 80px;
    padding-bottom: 800px; */
    border: 1px solid red;
}

#banner .banner-content{
   width: 85%;
    max-width: 1367px;
    margin: 0 auto;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 800px;
    
}
.banner-btn{
    background: #FFFFFF;
      padding: 8px 34px 12px;
      border-radius: 1000px;
      font-size: 16px;
      font-weight: 600;
      color: #469165;
      margin-bottom: 22px;
      display: inline-block;
      border: 1px solid rgba(255,255,255,0.18);
      gap: 6px;
      cursor: pointer;
}

.banner-btn:hover{
    background-color: #ffffffb6;
}


 .banner-title h1{
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom:15px;
}
.color-green{
    color: #469165;
}
.color-white{
    color: #FFFFFF;
}

#banner .banner-content .banner-text{
    font-size: 18px;
    font-weight: 400;
   color: #FFFFFF;
    line-height:24px;
    max-width: 670px;
    margin: 0 auto;
    padding-top: 132px;
}

#banner .banner-content .banner-doubleBtn{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
}

.doubleBtnOne{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.doubleBtnOne:hover{
    background-color: #36774a;
}
.doubleBtnOne img{
    margin-left: 8px;
    vertical-align: middle;
}

.doubleBtntwo{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
doubleBtntwo:hover{
    background-color: transparent;
}

.doubleBtntwo img{
    margin-left: 8px;
    vertical-align: middle;
}