*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* shared style */

.font-inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
header{
    background-color: #FFFFFF;
    padding-top: 18px;
}

nav{
    width: 67%;
    max-width: 1067px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 30%;
    margin-top: 16px;
}

    
    

nav .menu{
    width: 40%;
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    text-align: center;
}

nav ul li a{
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    gap: 20px;
    cursor: pointer;
}

nav .nav-btn .btn{
   margin-top: 15px;
   margin-right: 10px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

nav .nav-btn .btn:hover{
    background-color: #36774a;
}

#banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 674px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    
}

#banner .banner-content{
   width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 800px;
    
}
.banner-btn{
    background: #FFFFFF;
      padding: 8px 34px 12px;
      border-radius: 1000px;
      font-size: 16px;
      font-weight: 600;
      color: #469165;
      margin-bottom: 22px;
      display: inline-block;
      border: 1px solid rgba(255,255,255,0.18);
      gap: 6px;
      cursor: pointer;
}

.banner-btn:hover{
    background-color: #ffffffb6;
}


 .banner-title h1{
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom:15px;
}
.color-green{
    color: #469165;
}
.color-white{
    color: #FFFFFF;
}

#banner .banner-content .banner-text{
    font-size: 18px;
    font-weight: 400;
   color: #FFFFFF;
    line-height:24px;
    max-width: 670px;
    margin: 0 auto;
    padding-top: 132px;
}

#banner .banner-content .banner-doubleBtn{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
}

.doubleBtnOne{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.doubleBtnOne:hover{
    background-color: #36774a;
}
.doubleBtnOne img{
    margin-left: 8px;
    vertical-align: middle;
}

.doubleBtntwo{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
doubleBtntwo:hover{
    background-color: transparent;
}

.doubleBtntwo img{
    margin-left: 8px;
    vertical-align: middle;
}

#fail-section{
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 600px;
   
    text-align: center;
    padding-top: 80px;
    
}
.fail-heading h2{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
    margin-bottom: 16px;
}
.fail-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #001931;
    line-height: 20px;
    max-width: 670px;
    margin: 0 auto;
}
.fail-card{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
    margin-left: auto;
}
.card-text{
    width: 332px;
    height: 300px;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 60px;
    text-align: center;
    
}

.card-text h3{
    font-size: 20px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 12px;
}
#brain-section{
    padding: 120px;
}
 .brain-content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brain-img{
    width: 600px;
}
.brain-text{
    width: 540px;
}
.brain-text h4{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.brain-text h2{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
    margin-bottom: 16px;
}

.brain-text p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}

.list{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #001931;
    line-height: 30px;
    list-style: none;
}

.list img{
    margin-right: 12px;
    vertical-align:middle;
}

#ready-section{
    padding: 120px;
}

.ready-content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    text-align: center;
}

.ready-content h2{
    font-size: 40px;
    font-weight: 800;
    color: #001931;
    margin-bottom: 16px;
    padding-top: 80px ;
}
.ready-content h4{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    padding-bottom: 24px;
}

.ready-btn{
      margin-top: 16px;
  margin-bottom: 24px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;;
}

.ready-btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.ready-btn:hover{
    background-color: #36774a;
}
.ready-btn img{
    margin-left: 8px;
    vertical-align: middle;
}

.ready-content p{
    font-size: 14px;
    font-weight: 400;
    color: #627382;
    padding-top: 60px;
    padding-bottom: 80px;